.item-container {
  background-color: transparent;
  border: 0.15rem dashed #ff7675;
  
  border-radius: 10px;
  width: 80vw;

  display: flex;
  justify-content: space-between;

  margin: 0.5rem;
  padding: 1.2rem;
}

.form-item-container { 
  width: 200rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-item-padding {
  width: 100%;
  text-align: right;
}

.input-error,
.input-error:focus {
  border-color: red;
}

.input-error-text {
  color: red;
  font-size: 12px;
  margin: 1.2em 0em 0em 0em;
}

.item-input {
  width: 90%;
  height: 1rem;
  text-align: center;
}
textarea {
  height: 5rem !important;
  resize: none;
}

.item-count {
  width: 10%;
  margin-left: 5px;
}

.item-input-button {
  width: 10rem;
  height: 2rem;
  margin: 1.2rem;
  
  font-size: 21px;
}

.item-info-image {
  max-height: 100;
  max-width: 100;
}

.item-info-container {
  display: flex;
}

.item-info {
  text-align: left;
}

.item-info > * {
  margin: 0;
}

.item-info-count {
  color: #2c3e50;
  font-size: 1em;
  align-self: center;
  margin: 0em 1em;
}

.item-info-mute {
  font-size: 0.9em;
  color: #2c3e50;
  opacity: 0.5;
  margin-left: 1rem;
}

.dark-mode-mute {
  color: #607D8B;
}